---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$right-sidebar-width-narrow: 300px;
$right-sidebar-width: 300px;
$right-sidebar-width-wide: 300px;

$max-width: 1396px;

$sans-serif: "Franklin Gothic Book", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI",
  "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials